@charset "utf-8";
header,main,section,article,footer{
  text-align: center;
  color: black;
}

article{
display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
    align-items: center;
   
    background:grey;
}

article img{
    flex: 0 0 200px;
    width: 30%;
}

